.header-container {
  display: flex;
  justify-content: space-between;
}

#high {
  color: purple;
  font-weight: lighter;
  font-size: 3vw;
}
.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  text-align: left;
}
li {
  padding: 8px 20px;
  color: aliceblue;
  background-color: darkblue;
  margin-bottom: 15px;
}
#arr {
  color: grey;
  border-top: 1px solid grey;
}
.btn {
  color: white;
  background-color: darkblue;
  padding: 10px 10px;
}
