* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 2vw 5vw;
}

#high {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eab0ff;
  font-weight: lighter;
  font-size: 14px;
}
.quiz {
  display: flex;
  margin: 5vw 15vw 2.5vw 15vw;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2vw;
}
.header {
  margin: 0 0 15px 0;
  text-align: center;
}

#result {
  color: grey;
  margin-left: 15.3vw;
}
.btn {
  color: white;
  font-size: 16px;
  background-color: darkblue;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}
.btn:hover {
  background-color: #eab0ff;
}

#Ol {
  list-style-type: none;
}
#Ol li {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#form::before {
  content: "Enter your initials : ";
}
.high {
  margin-bottom: 25px;
  text-align: center;
}
.order {
  margin-top: 10px;
  list-style: none;
}
.order li {
  background-color: lightgray;
  width: 55vw;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
}
#formButton {
  padding: 3px 10px;
}
.buttons {
  display: flex;
  margin-right: 15px;
}

.buttons button {
  margin-right: 15px;
}
